@{
    Layout = null;
}

<div class="text-center py-5" style="background-color: Highlight; color:coral">
    <i class="fas fa-book-open" style="font-size:2em"></i>
    <h1>ONLİNE KÜTÜPHANE</h1>
</div>