@{
    Layout = null;
}

<link href="~/Css/Sidebar.css" rel="stylesheet" />

<nav>
    <ul>
        <li><i class="bookimage fas fa-book-open"></i></li>
        <li><p>ONLİNE KÜTÜPHANE</p></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Books"><i class="fa fa-book"></i> KİTAP LİSTESİ</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/BorrowedBooks"><i class="fas fa-book-open"></i> ÖDÜNÇ KİTAPLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Users"><i class="fa fa-users"></i> KULLANICI LİSTESİ</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Messages"><i class="fas fa-comment-dots"></i> MESAJLAR</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Authors"><i class="fas fa-pen"></i> YAZAR LİSTESİ</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Types"><i class="fas fa-font"></i> KİTAP ÇEŞİTLERİ</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Positions"><i class="fas fa-user-tag"></i>KULLANICI POZİSYONLARI</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Admin/Statistic"><i class="fas fa-info-circle"></i> İSTATİSTİKLERİMİZ</a></li>
        <li><a style="font-size: 16px; padding: 15px 0 15px 38px" href="/Auth/Logout"><i class="fas fa-undo-alt"></i> ÇIKIŞ YAP</a></li>
    </ul>
</nav>